<%- include('header') -%>
<h1>Detalle de la ANP</h1>

<div class="container">
    <div class="column">
        <img src= <%= berlin.image %> />
    </div>
    <div class="column">
        <div class="subrow">
            <h2><%= berlin.name %></h2>
            <p><%= berlin.description %></p>
        </div>
        <div class="subrow">
            <form method="post" action="/berlin/ticket">
                <div class="column">
                    <label>Cantidad: </label>
                    <input type="number" name="quantity" id="quantity" min="1">
                    <label> Importe total: <%= berlin.price %> </label>
                </div>
                <div class="column">
                    .
                </div>
                <div class="column">
                    <label>Email de confirmación:</label>
                    <input type="text" name="email" id="email">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<%- include('footer') -%>