<%- include('header') -%>
<script type="text/javascript">
    ticketPrice = <%= kakiri.price %>;
</script>
<h1>Detalle de la ANP</h1>

<div class="container">
    <div class="column">
        <img src= <%= kakiri.image %> />
    </div>
    <div class="column">
        <div class="subrow">
            <h2><%= kakiri.name %></h2>
            <p><%= kakiri.description %></p>
        </div>
        <div class="subrow">
            <form method="post" action="/kakiri/ticket">
                <div class="column">
                    <p>Precio Unitario: S/<span id="price"> <%= kakiri.price %></span>.00</p>
                    <label>Cantidad: </label>
                    <input type="number" name="quantity" aria-labelledby="quantity" id="quantity" min="1">
                    <p> Importe total: S/<span id="result"></span>.00</p>
                </div>
                <div class="column">
                    <label>Email de confirmación:</label>
                    <input type="text" name="email" id="email">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<%- include('footer') -%>